/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* CONTENT CONTAINER */ 

.container {
	width: 950px;
	margin: 0 auto;
	 background-color: white;
}


/* MENU */

.mymenu nav { 
	display: inline-block;
	padding: 15px;
	margin-right: 50px;
	margin-left: -60px;
	width: 75%;
	background: white;
}
.mymenu nav a{ 
	text-decoration: none;
	padding: 30px;
	color: gray;
}

.mymenu .logo {
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}

/* HEADER */
header {
	width: 950px;
	background-color: white;
}

header .header-motto {
	font-size: 85px;
	text-align: center;
	display: inline-block;
	background-color: white;
	margin: 45px;
}

header .header-image { 
	display: inline-block;
	background-color: white;
	margin: 45px;
	padding: 10px;
}

.header-motto button {
	background-color: white;
	border-color: red;
	width: 175px;
	height: 40px;
	font-size: 16px;
	vertical-align: top;
}


/* MAIN CONTENT */

main h3{ 
	font-size: 23px;
}


/* TOP MAIN */

main .features  { 
	display: inline-block;
	background-color: white;
	width: 450px;
	margin: 0px;
}

main .about { 
	display: inline-block;
	background-color: white;
	width: 450px;
	margin: 10px;
}


main img { 
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* BOTTOM MAIN */ 
main .services { 
	display: inline-block;
	width: 275px;
	margin-right: 30px;
	margin-bottom: 20px;
}
main .product { 
	display: inline-block;
	margin-right: 30px;
	width: 275px;

}
main .vision { 
	display: inline-block;
	width: 275px;
}

/* FOOTER */
.copyright {
	text-align: center;
}

/* PAGE ELEMENTS */

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: 48px;
  border-style: inset;
	border-width: 1px;
	border-color: black;
} 

li {
list-style-type: none;
line-height: 20px;
}

